<div class="cards base">
  <h2>Filmes da Semana!</h2>

  <!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let movie of movies">
      <div class="movie-item-slide">
        <h3>{{ movie.title }}</h3>
        <p>
          <img
            *ngIf="movie.poster_path"
            [src]="'https://image.tmdb.org/t/p/w200/' + movie.poster_path"
            alt="{{ movie.title }} Poster"
          />
        </p>
      </div>
    </ng-template>
  </owl-carousel-o> -->

  <div class="movies-list">
    <p-carousel
      [value]="movies"
      [numVisible]="4"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="5000"
      [responsiveOptions]="responsiveOptions"
      styleClass="custom-carousel"
    >
      <ng-template let-movie pTemplate="item">
        <div class="movie-item-slide">
          <img
            *ngIf="movie.poster_path"
            [src]="'https://image.tmdb.org/t/p/w200/' + movie.poster_path"
            alt="{{ movie.title }}"
            class="movie-poster"
          />
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.overview | slice : 0 : 50 }}...</p>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
