::ng-deep .custom-carousel .p-carousel-container {
  overflow: visible;
  padding: 0 2rem;
}

::ng-deep .custom-carousel .p-carousel-items-content {
  overflow: visible !important;
}

.movie-item-slide {
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.movie-item-slide .movie-poster {
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-item-slide h3 {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: white;
  font-family: "Lora", sans-serif;
}
.movie-item-slide p {
  font-size: 0.9rem;
  color: white;
  font-family: "Poppins", sans-serif;
}