.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  inset: 0% 0% auto;
}
.header .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-right: 2.5rem;
}
.header .menu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.header .menu ul li {
  margin: 0 15px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.header .menu ul li a {
  color: white;
  padding: 10px 25px;
  display: block;
}
.header .menu a {
  font-family: "Poppins", sans-serif;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
}